<main class="main">
  <div class="grid">
    <div class="col-6 p-6">
      <div class="action-container flex align-items-center justify-content-center h-full">
        <div class="flex align-items-left justify-content-left h-full">
          <h1>
            Diagnóstico de enfermedades cardiacas
          </h1>
        </div>
      </div>
    </div>
    <div class="col-6 p-6">
      <div class="text-container flex align-items-center justify-content-center h-full">
        2
      </div>
    </div>
  </div>
</main>
<router-outlet />
