/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "./assets/theme/theme_variables";

html {
  display: flex;
}

body, html, .main {
  font-family: 'Inter Regular';
  background-color: map-get($palette-color, main);

}

h1 {
  font-size: $h1;
  margin: unset;
}

h2 {
  font-size: $h2;
  margin: unset;
}

small {
  font-size: $small-text;
}

label {
  font-size: $label;
}

.field label {
  font-weight: bold;
  color: map-get($palette-color, complementary);
}

div.action-container, div.action-button, div.text-container {
  border-radius: $radius;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-dialog {
  border-radius: $radius;
  background-color: map-get($palette-color, main);
  height: 100%;
  @media screen and (max-width: 768px) {
    width: 90% !important;
  }
  width: 35% !important;
  .p-dialog-header {
    height: 35px;
    padding: 0px;
    border-radius: $radius;
    .p-dialog-header-icons {
      padding-right: 15px;
      padding-top: 15px;
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
  .p-dialog-content {
    padding: 40px;
    max-height: none !important;
    border-radius: $radius;
  }
}

.p-inputwrapper {
  display: inline-flex;
  flex-grow: 1;
}

.p-inputnumber {
  width: -webkit-fill-available;
  .p-inputtext {
    border-radius: $radius 0px 0px $radius;
  }
}

.p-dropdown {
  border-radius: $radius;
}


.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up {
  border-top-right-radius: $radius;
  border-color: map-get($palette-color, complementary);
  background-color: map-get($palette-color, complementary);
}
.p-button.p-inputnumber-button-up:hover {
  background-color: map-get($palette-color, hover);
}

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-down {
  border-bottom-right-radius: $radius;
  border-color: map-get($palette-color, complementary);
  background-color: map-get($palette-color, complementary);
}

.p-button.p-inputnumber-button-down:hover {
  background-color: map-get($palette-color, hover);
}

.field {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 25%;
  border-radius: $radius;
  font-size: $label;
  background-color: map-get($palette-color, complementary);
  border-color: map-get($palette-color, complementary);
  }

.submit-button:hover, .submit-button:disabled {
  background-color: map-get($palette-color, hover);
  border-color: map-get($palette-color, hover);
}

.submit-button:focus-visible{
  box-shadow: 0 0 0 0.2rem map-get($palette-color, focus-active);
}
