/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "./assets/theme/theme_variables";


body, html, .main, .grid {
  font-family: 'Inter Regular';
  background-color: map-get($palette-color, main);
  height: 100%;
}

h1 {
  font-size: $h1;
  margin: unset;
}

h2 {
  font-size: $h2;
  margin: unset;
}

small {
  font-size: $small-text;
}

label {
  font-size: $label;
}

div.action-container, div.action-button, div.text-container {
  border-radius: $radius;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-dialog {
  border-radius: $radius;
  background-color: map-get($palette-color, main);
  height: 90%;
  width: 35% !important;
  .p-dialog-header {
    height: 35px;
    .p-dialog-header-icons {
      padding-right: 15px;
      padding-top: 15px;
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
  .p-dialog-content {
    padding: 40px;
    max-height: none !important;
  }
}

